<html>
	<body>
		<form action="/insert" method="POST">
			<label><h2>Form</h2</label><br>
			<label >Nombre:</label>
			<input type='text' name='name'><br>
			<label >Apellido Paterno:</label>
			<input type='text' name='appa'><br>
			<label >Apellido Materno:</label>
			<input type='text' name='apma'><br>
			<label >Telefono:</label>
			<input type='text' name='phone'><br>
			<label >Sexo:</label>
			<input type='text' name='sex'><br>
			<label >Direccion:</label>
			<input type='text' name='address'><br>
			<button type='submit'>Submit</button>
		</form>
		<br><br>
		<a href = '/mostrar'>Mostrar Registros</a>
		<a href = '/formDelete'>Borrar Registros</a>
	</body>
</html>
